textarea {
    padding: 5px;
    font-weight: 500;
    font-size: 13px;
}

.post {
    font-weight: 600;
    color: var(--blue);
    transform: translateY(0.5px);
    display: inline-block;
    float: right;
}

