.links-header {
    display: flex;
    align-content: center;
    gap: 7px;
}

.links-header > h2 {
}


.links-header > a {
    transform: translateY(12px);
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    /* text-decoration: underline; */
    color: var(--blue);
}

