.links-header {
    display: flex;
    align-content: center;
    gap: 7px;
}

.links-header > h2 {
    font-weight: 500;
    font-size: 20px;
}


.links-header > a {
    transform: translateY(4px);
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    /* text-decoration: underline; */
    color: var(--blue);
}

.loadbar {
    margin: 10px 0;
    font-weight: 500;
    font-size: 11px;
    color: var(--green);
}

.empty {
    color: var(--red);
    font-size: 13px;
    padding-top: 3px;
    font-weight: 400;
    opacity: 0.2;
}
