@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --blue: #133F67;
    --black: #1F1E1E;
    --red: #EE4266;
    --green: #74b031;
    --yellow: #D6D84F;
}

body {
    margin: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--black);
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

a {
    cursor: pointer !important;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

textarea,input {
  border-width: 1px;
}

li {
  margin-bottom: 3px;
  margin-top: 3px;
}

/* This is probably all scuffed. Feel free to fix me. */

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: bold;
}


button {
  color: blue !important;  
}
